[submodule "gameserver/code"]
	path = gameserver/code
	url = ../gameserver.git
[submodule "relayserver/code"]
	path = relayserver/code
	url = ../relayserver.git
[submodule "vis/code"]
	path = vis/code
	url = ../vis-pixijs.git
