[submodule "gameserver/code"]
	path = gameserver/code
	url = ../gameserver.git
	branch = feature/mysql2
[submodule "relayserver/code"]
	path = relayserver/code
	url = ../relayserver.git
	branch = tech/json
[submodule "vis/code"]
	path = vis/code
	url = ../vis-pixijs.git
	branch = feature/JsonProtocol
[submodule "website/code"]
	path = website/code
	url = ../website.git
	branch = branch/beautify_views