[submodule "gameserver/code"]
	path = gameserver/code
	url = ../spn-gameserver.git
[submodule "relayserver/code"]
	path = relayserver/code
	url = ../spn-relayserver.git
[submodule "website/code"]
	path = website/code
	url = ../spn-website.git
