server {
	listen 80 default_server;
	listen [::]:80 default_server;
	root /vis;
	index index.html index.htm index.nginx-debian.html;

	server_name _;

	location / {
        proxy_pass_header Server;
		proxy_pass http://website:8000;
	}

	location /vis {
		alias /vis/;
	}

	location /websocket {
		proxy_pass http://relayserver:9009;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "Upgrade";
	}

	location /static {
		alias /static/;
	}
}
